<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Supernova Hello World!</title>
    <link
      rel="stylesheet preload prefetch"
      type="text/css"
      as="style"
      href="/static/{{cssFileName}}"
    />
    {{#dev}}
    <script type="application/javascript" src="/static/{{clientScriptFileName}}" async></script>
    {{/dev}}
  </head>
  <body>
    <p class="meeting">{{meet}}</p>
  </body>
</html>
