<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Supernova Hello World!</title>
    <link
      rel="stylesheet preload prefetch"
      type="text/css"
      as="style"
      href="/static/{{cssFileName}}"
    />
  </head>
  <body>
    <p class="meeting">{{meet}}</p>
    <script type="application/javascript">
      !(function () {
        var client = new WebSocket("ws://localhost:8080/", "echo-protocol");
        (client.onerror = function () {
          console.log("Connection Error");
        }),
          (client.onopen = function () {
            console.log("Server autoreload connected");
          }),
          (client.onclose = function () {
            console.log("Server autoreload disconnected");
          }),
          (client.onmessage = function ({ data: o }) {
            "string" == typeof o && "reload" === o && location.reload();
          });
      })();
    </script>
  </body>
</html>
